[submodule "external/create_autonomy"]
	path = external/create_autonomy
	url = https://github.com/AutonomyLab/create_autonomy.git
[submodule "external/tinyIMU_relay"]
	path = external/tinyIMU_relay
	url = https://github.com/superjax/tinyIMU_relay.git
[submodule "external/libcreate"]
	path = external/libcreate
	url = https://github.com/AutonomyLab/libcreate.git
[submodule "external/rosserial"]
	path = external/rosserial
	url = https://github.com/ros-drivers/rosserial.git
	branch = jade-devel
[submodule "external/rosserial_stm32"]
	path = external/rosserial_stm32
	url = https://github.com/yoneken/rosserial_stm32.git
	branch = master
[submodule "external/tiny_msgs"]
	path = external/tiny_msgs
	url = https://github.com/superjax/tiny_msgs.git
[submodule "external/imu_tools"]
	path = external/imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools.git
	branch = kinetic
