<launch>
    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0 0 0 0 1 map imu 10" />

    <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="screen" respawn="false"/>

    <node pkg="lubobot" type="lubo_imu_relay" name="lubo_imu_relay" output="screen" respawn="false">
        <param name="scale" value="true"/>
        <remap from="imu_msgs" to="imu/data_raw"/>
    </node>

</launch>
