<launch>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <node pkg="lubobot" type="lubo_imu_relay" name="lubo_imu_relay" output="screen" respawn="false">
        <param name="scale" value="true"/>
        <remap from="imu_msgs" to="imu/data_raw"/>
    </node>

    <!-- <node pkg="imu_complementary_filter" type="complementary_filter_node" name="imu_complementary_filter" output="screen" respawn="false">
        <param name="fixed_frame" value="odom"/>
        <param name="publish_tf" value="true"/>
    </node> -->

    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_madgwick_filter" output="screen" respawn="false">
        <param name="use_mag" value="false"/>
        <param name="world_frame" value="enu"/>
        <!-- <param name="world_frame" value="nwu"/>
        <param name="world_frame" value="ned"/> -->
    </node>


</launch>
