<launch>
    <node pkg="tf" type="static_transform_publisher" name="odom_broadcaster" args="1 0 0 0 0 0 1 map odom 10" />

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
    </node>

    <node pkg="lubobot" type="prueba" name="prueba" output="screen" respawn="false"/>

    <include file="$(find lubobot)/launch/imu.launch" />

</launch>
