<?xml version="1.0"?>
<robot name="imu" 
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lds_lidar" params="xyz rpy parent">
    <joint name="lidar_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="lidar_link" />
    </joint>

      <link name="lidar_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://lubobot/meshes/lds_lidar.stl" scale="0.001 0.001 0.001"/>
          </geometry>
          <material name="dark_gray"/>
        </visual>

        <collision>
          <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
          <geometry>
            <cylinder length="0.0315" radius="0.055"/>
          </geometry>
        </collision>

        <inertial>
          <mass value="0.114" />
          <origin xyz="0 0 0" />
          <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                  iyy="0.001" iyz="0.0"
                  izz="0.001" />
        </inertial>
      </link>

    </xacro:macro>
</robot>