<?xml version="1.0"?>
<robot name="kinect" 
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kinect" params="name parent *origin">

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link" />
    </joint>

    <link name="${name}_link">
      <visual>
        <origin xyz="-0.05 -0.17 -0.02" rpy="${3.1415/2.0} 0 ${3.1415/2.0}"/>
        <geometry>
          <mesh filename="package://lubobot/meshes/kinect/68-04546_Kinect_Sensor--coarse.STL" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="gray">
          <color rgba="0.5 0.5 0.5 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="-0.05 -0.17 -0.02" rpy="${3.1415/2.0} 0 ${3.1415/2.0}"/>
        <geometry>
          <mesh filename="package://lubobot/meshes/kinect/68-04546_Kinect_Sensor--coarse_simple.STL" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>
</robot>
