<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lubobot_description">
	<xacro:include filename="$(find lubobot)/urdf/body.urdf.xacro"/>
	<xacro:include filename="$(find lubobot)/urdf/create_base.urdf.xacro" />
	<xacro:include filename="$(find lubobot)/urdf/imu.urdf.xacro" />
	<xacro:include filename="$(find lubobot)/urdf/kinect.urdf.xacro"/>

	<xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
		<mesh filename="package://lubobot/meshes/create_2.dae" />
	</xacro:create_base>

	<xacro:body parent="base_link"/>

	<xacro:kinect name="camera" parent="base_link">
		<origin xyz="0.050 0.033 0.210" rpy="0 0 0"/>
	</xacro:kinect>

	<xacro:imu_sensor xyz="-0.1 0 0.075" rpy="0 0 -1.57075" parent="base_link" />

</robot>
