<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lubobot_description">
	<xacro:include filename="$(find lubobot)/urdf/kinect.urdf.xacro"/>
	<xacro:include filename="$(find lubobot)/urdf/create_base.urdf.xacro" />

	<xacro:create_base wheel_separation="0.235" base_diameter="0.3485">
		<mesh filename="package://lubobot/meshes/create_2.dae" />
	</xacro:create_base>

	<!-- shoulder kinect -->
	<!-- ORIGINAL DATA FROM HALCON CALIBRATION:
             from: base_link to: shoulder_kinect_link
             translation: -0.135394 -0.00764754 1.54755 (xyz)
             quaternion: 0.0177781 0.202257 -0.0472198 0.978032 (xyzw) -->
	<kinect name="shoulder_kinect" parent="base_link">
		<origin xyz="-0.135394 -0.00764754 1.54755" rpy="0.01708077682636155 0.4085798647123734 -0.09294704527264909"/>
	</kinect>
</robot>
