<?xml version="1.0"?>
<launch>
  <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="lidar_node" output="screen">
    <param name="port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0"/>
    <param name="frame_id" value="lidar_link"/>
  </node>
</launch>
